* {
  color: white;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #0f172a;
}

button:hover {
  cursor: pointer;
}

textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
