.app {
  width: 380px;
  background: #0f172a;
  display: flex;
  flex-direction: column;
}

.headlineBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128);
  padding: 10px;
  margin-bottom: 15px;
}

.headlineName {
  display: flex;
  align-items: center;
  gap: 5px;
}

.h1 {
  font-size: 20px;
}

.promptSection {
  padding: 10px;
}

.modelsSection {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.openPaste {
  font-size: 12px;
  color: #808080;
  display: flex;
  align-items: center;
}

.openPaste span {
  padding: 0 5px;
}

.openPaste::before,
.openPaste::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #808080;
}

.models {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.models button {
  background: transparent;
}

.footer {
  align-self: center;
  padding-bottom: 10px;
}
