.app {
  width: 380px;
  max-height: 540px;
  background: #0f172a;
  display: flex;
  flex-direction: column;
}

.headlineBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128);
  padding: 10px;
  margin-bottom: 15px;
}

.headlineName {
  display: flex;
  align-items: center;
  gap: 5px;
}

.h1 {
  font-size: 20px;
}

.promptSection {
  padding: 10px;
}
